@import 'bootstrap/dist/css/bootstrap.css';
@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&family=Pattaya&family=Shrikhand&display=swap');
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background-color:lightseagreen !important;
}

.navbar {
  background-color: orange;
  border-color: white;
  border: 10px, 10px, 10px, 10px;
  font-family: 'Fugaz One', cursive;
  /* display: flex;
  flex-direction: column;
  */
}

.locationCard {
  max-height: fit-content;
  background-color: white;
  border-radius: 25px !important;
}

.locationImage {
  max-width: 300px;
  max-height: 300px;
  border-radius: 25px;
}

.locationButton {
  background-color: white !important;
  color: black;
  border-color: orange;
  border: 10px, 10px, 20px, 30px;
}

.locationButtonsGroup {
  display: flex;
  justify-content: space-evenly;
}

.searchBox {
  display: flex;
  max-width: 400px;
}

.searchButton {
  align-self: flex-end;
  background-color: orange !important;
  border: black;
  height: 40px;
}

.addLocationButton {
  background-color: orange;
  border-color: white;
  border: 10px, 10px, 10px, 10px;
}

.signOutButton {
  align-self: flex-end;
}

.navbarButtons {
  display: flex;
  justify-content: space-between;
}

.radioButtons {
  background-color: white;
  color: black;
  border-color: orange;
  border-radius: 200px;
}

.neighborhoodCard {
  max-height: fit-content;
  background-color: white;
  border-radius: 25px !important;
}

.neighborhoodButton {
  background-color: white !important;
  color: black;
  border-color: orange !important;
}

.neighborhoodButtonsGroup {
  display: flex;
  justify-content: space-evenly;
}

.neighborhood-view {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  flex-direction: column;
}

.neighborhoodName {
  color: white;
  align-self: center;
}

.viewNeighborhoodLocations {
  align-self: flex-start;
}

.activeFavorite {
  background: white;
  color:darkcyan;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  text-shadow: orangered 0 0 10px;
}

.login-button{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: orange;
    border-color: white;
}

.login-button:hover {
  background-color: darkgoldenrod;
}

.form-buttons {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  background-color: orange !important;
  border-color: white !important;
}

.form-buttons:hover {
  background-color: darkgoldenrod;
}

.custom-slider {
  color: orange;
}

input[type="range"] {
  accent-color: orange;
}

.toggle-switch {
  accent-color: orange;
}

.editAndFavoriteButton {
  color: black;
}

.logo {
  max-width: 50px;
  max-height: 100px;
}

.navbarlogo {
  max-height: 60px;
  max-width: 50px;
}

.singInLogoContainer{
  align-self: center;

}

.signInLogo { 
  max-width: 200px;
  max-height: 300 px;
  align-self: flex-start;
}
